
@{
    ViewBag.Title = "Add_Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <h3 class="right__title">Thêm sản phẩm</h3>
                <br>
                <div class="page-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Thêm sản phẩm
                            </li>
                        </ol>
                    </nav>

                    <form>

                        <sf:hidden path="id" />

                        <div class="form-group">
                            <label for="category">Danh mục (required)</label>
                            <select path="categories.id" class="form-control" id="category">
                                <option value="Cây Thủy sinh">Cây Thủy sinh</option>
                                <option value="Cây Phong Hàn">Cây Phong Hàn</option>
                                <option value="Cây Đơn Tạc">Cây Đơn hạc</option>
                                <select>
                        </div>
                        <div class="form-group">
                            <label for="title">Tên sản phẩm (required)</label>
                            <input autocomplete="off" type="text"
                                   class="form-control" id="title" placeholder="Tiêu đề"
                                   required="required" />
                        </div>
                        <div class="form-group">
                            <label for="price">Gía (required)</label>
                            <input type="number" autocomplete="off" path="price"
                                   class="form-control" id="price" placeholder="Giá"
                                   required="required" />
                        </div>
                        <div class="form-group">
                            <label for="priceSale">Số lượng (required)</label>
                            <input type="number" autocomplete="off"
                                   class="form-control" id="priceSale" placeholder="Số lượng"
                                   required="required" />
                        </div>
                        <div class="form-group">
                            <label for="short_description">Mô tả ngắn (required)</label>
                            <textarea autocomplete="off" path="shortDes"
                                      class="form-control" placeholder="Mô tả ngắn"
                                      id="short_description" rows="3" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="detail_description">Mô tả (required)</label>
                            <textarea autocomplete="off" path="details" placeholder="Mô tả chi tiết"
                                      class="form-control summernote" id="detail_description" rows="3"
                                      required="required"></textarea>
                        </div>
                        <!-- <div class="form-group form-check">
                            <checkbox class="form-check-input" id="isHot" />
                            <label class="form-check-label" for="isHot">Is Hot Product?</label>
                        </div> -->

                        <div class="form-group">
                            <label for="fileProductAvatar">Ảnh</label> <input id="fileProductAvatar" name="productAvatar" type="file"
                                                                                 class="form-control-file">
                        </div>
                        <div class="form-group">
                            <img alt="" style="width: 150px; height: 100px;"
                                 src="~/Areas/Admin/Assets/images/HotGirl1.jpg">
                        </div>

                        <div class="form-group">
                            <label for="fileProductPictures">Danh sách ảnh(Multiple)</label> <input id="fileProductPictures" name="productPictures" type="file"
                                                                                              class="form-control-file" multiple="multiple">
                        </div>
                        <div class="form-group">
                            <c:forEach items="${product.productImages }" var="productImage">
                                <img alt="" style="width: 150px; height: 100px;"
                                     src="~/Areas/Admin/Assets/images/HotGirl1.jpg">
                            </c:forEach>
                        </div>

                        <a href="@Url.Action("Index", "Product")" class="btn btn-secondary active"
                           role="button" aria-pressed="true">Trở lại</a>
                        <button type="submit" class="btn btn-primary">Lưu</button>

                    </form>
                </div>
            </div>

            <div id="styleSelector">

            </div>
        </div>
    </div>
</div>

