@{
    ViewBag.Title = "Home Page";
}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/wwwroot/img/bg-img/1.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Thực vật tồn tại trong thời tiết và ánh sáng bao quanh chúng ta</h2>
                            <p>Các loài thực vật luôn cần nhiệt độ, ánh sáng và độ ẩm để phát triển một cách tốt nhất, giúp chúng quang hợp, trao dổi chất trong thành phần chất dinh dưỡng.</p>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">Bắt đầu</a>
                                <a href="contact.html" class="btn alazea-btn active">Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/wwwroot/img/bg-img/2.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Thực vật tồn tại trong thời tiết và ánh sáng bao quanh chúng ta</h2>
                            <p>Các loài thực vật luôn cần nhiệt độ, ánh sáng và độ ẩm để phát triển một cách tốt nhất, giúp chúng quang hợp, trao dổi chất trong thành phần chất dinh dưỡng.</p>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">Bắt đầu</a>
                                <a href="#" class="btn alazea-btn active">Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Service Area Start ##### -->
@*body*@
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Dịch vụ của chúng tôi</h2>
                    <p>Chúng tôi luôn đảm bảo sẽ cung cấp những dịch vụ tốt nhất dành cho bạn.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="~/wwwroot/img/core-img/s1.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Chăm sóc cây trồng</h5>
                            <p>Tưới nước. Thường nếu để cây ở ngoài trời có nắng và gió thì ngày nào bạn tưới nước cũng được, mỗi ngày tưới qua cho cây để thứ nhất ...</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="~/wwwroot/img/core-img/s2.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Điều kiện tự nhiên</h5>
                            <p>Ánh sáng. Sống được trong môi trường thiếu sáng nhưng màu sắc của lá sẽ bớt đậm và xanh tươi, vì thế cuối tuần bạn nên để cây ra ngoài ...</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="~/wwwroot/img/core-img/s3.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Dịch vụ &amp; cắt tỉa cây</h5>
                            <p>Kỹ thuật cắt tỉa cây cảnh. Ở dạng nguyên liệu, mỗi cây đều có một dáng dấp cơ bản của một kiểu Bonsai nào đó, nhưng chưa được rõ nét.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-video-area bg-overlay mb-100">
                    <img src="~/wwwroot/img/bg-img/23.jpg" alt="">
                    <a href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" class="video-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-us-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Về chúng tôi</h2>
                    <p>Chúng tôi đang dẫn đầu về các lĩnh vực cây cảnh.</p>
                </div>
                <p>Đến với Web Cây Cảnh không đơn giản chỉ là mua cây, mà chúng tôi còn hướng dẫn quý khách hàng cách chăm sóc, cách khắc phục khi cây gặp phải vấn đề không tốt.</p>

                <!-- Progress Bar Content Area -->
                <div class="alazea-progress-bar mb-50">
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Cây văn phòng</p>
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Quản lý khu vực</p>
                        <div id="bar2" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="70"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Thiết kế cảnh quan</p>
                        <div id="bar3" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="85"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Chăm sóc vườn</p>
                        <div id="bar4" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="65"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/wwwroot/img/core-img/b1.png" alt="">
                                <h5>Chất lượng sản phẩm</h5>
                                <p>Chúng tôi cam kết sẽ mang đến cho các bạn những sản phẩm có chất lượng tốt nhất hiện nay.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/wwwroot/img/core-img/b2.png" alt="">
                                <h5>Dịch vụ hoàn hảo</h5>
                                <p>Bên cạnh chất lượng thì chúng tôi còn chú trọng đến dịch vụ để đem đến cho bạn những dịch vụ tuyệt vời nhất.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/wwwroot/img/core-img/b3.png" alt="">
                                <h5>100% Tự nhiên</h5>
                                <p>Đảm bảo tất cả sản phẩm đều đến từ tự nhiên, không có sản phẩm nhân tạo.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/wwwroot/img/core-img/b4.png" alt="">
                                <h5>Thân thiện với môi trường</h5>
                                <p>Chúng tôi luôn cấp những sản phẩm có tính thân thiện với mối trường cao.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Portfolio Area Start ##### -->
<section class="alazea-portfolio-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Danh mục đầu tư của chúng tôi</h2>
                    <p>Chúng tôi dành tất cả những năng lực và kinh nghiệp của mình để tạo ra</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="alazea-portfolio-filter">
                    <div class="portfolio-filter">
                        <button class="btn active" data-filter="*">Tất cả</button>
                        <button class="btn" data-filter=".design">Thiết kế quán cafe</button>
                        <button class="btn" data-filter=".garden">Sân vườn</button>
                        <button class="btn" data-filter=".home-design">Thiết kế nhà</button>
                        <button class="btn" data-filter=".office-design">Thiết kế văn phòng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alazea-portfolio">

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design home-design wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/16.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/16.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 1">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/17.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/17.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/18.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/18.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 3">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden office-design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/19.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/19.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design office-design wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/20.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/20.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 5">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/21.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/21.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-lg-6 single_portfolio_item home-design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/bg-img/22.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/bg-img/22.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 7">
                        <div class="port-hover-text">
                            <h3>Cửa hàng hoa tối thiểu</h3>
                            <h5>Cây văn phòng</h5>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Portfolio Area End ##### -->
<!-- ##### Testimonial Area Start ##### -->
<section class="testimonial-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials-slides owl-carousel">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="~/wwwroot/img/bg-img/13.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>Đánh giá phản hồi</h2>
                                        <p>Một số phản hồi tốt từ phía khách hàng về Alazea</p>
                                    </div>
                                    <p>"Ý tưởng của họ rất sáng tạo, họ đưa ra các giải pháp đầy trí tưởng tượng cho một số vấn đề khó khăn, các mối liên hệ về cảnh quan và trồng trọt của họ cũng tuyệt vời như nhau, kết quả là chúng ta có một khu vườn đẹp nhưng cũng dễ quản lý.Xin cảm ơn!"</p>
                                    <div class="testimonial-author-info">
                                        <h6>Anh Đạt</h6>
                                        <p>Giám đốc của Esolab</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="~/wwwroot/img/bg-img/14.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>Đánh giá phản hồi</h2>
                                        <p>Một số phản hồi tốt từ phía khách hàng về Alazea</p>
                                    </div>
                                    <p>“Ý tưởng của họ rất sáng tạo, họ đưa ra các giải pháp đầy trí tưởng tượng cho một số vấn đề khó khăn, các mối liên hệ về cảnh quan và trồng trọt của họ cũng tuyệt vời như nhau, kết quả là chúng ta có một khu vườn đẹp nhưng cũng dễ quản lý. Xin cảm ơn”</p>
                                    <div class="testimonial-author-info">
                                        <h6>Chị Islam</h6>
                                        <p>Giám đốc của Esolab</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="~/wwwroot/img/bg-img/15.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>Đánh giá phản hồi</h2>
                                        <p>Một số phản hồi tốt từ phía khách hàng về Alazea<</p>
                                    </div>
                                    <p>“Ý tưởng của họ rất sáng tạo, họ đưa ra các giải pháp đầy trí tưởng tượng cho một số vấn đề khó khăn, các mối liên hệ về cảnh quan và trồng trọt của họ cũng tuyệt vời như nhau, kết quả là chúng ta có một khu vườn đẹp nhưng cũng dễ quản lý. Xin cảm ơn”</p>
                                    <div class="testimonial-author-info">
                                        <h6>Anh Đạt</h6>
                                        <p>Giám đốc của Esolab</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Testimonial Area End ##### -->
<!-- ##### Product Area Start ##### -->
<section class="new-arrivals-products-area bg-gray section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Điểm đến mới</h2>
                    <p>Chúng tôi có những sản phẩm mới nhất, chắc chắn đem đến những thú vị cho bạn</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/bg-img/9.jpg" alt=""></a>
                        <!-- Product Tag -->
                        <div class="product-tag">
                            <a href="#">Hot</a>
                        </div>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Hoa xương rồng</p>
                        </a>
                        <h6>$10.99</h6>
                    </div>
                </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/bg-img/10.jpg" alt=""></a>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Hoa xương rồng</p>
                        </a>
                        <h6>$10.99</h6>
                    </div>
                </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/bg-img/11.jpg" alt=""></a>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Hoa xương rồng</p>
                        </a>
                        <h6>$10.99</h6>
                    </div>
                </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="400ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/bg-img/12.jpg" alt=""></a>
                        <!-- Product Tag -->
                        <div class="product-tag sale-tag">
                            <a href="#">Hot</a>
                        </div>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Hoa xương rồng</p>
                        </a>
                        <h6>$10.99</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="#" class="btn alazea-btn">Xem tất cả</a>
            </div>

        </div>
    </div>
</section>
<!-- ##### Product Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Tin tức mới nhất</h2>
                    <p>Tin tức nóng hổi về làm vườn &amp; cây trồng trong nhà</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="single-post.html"><img src="~/wwwroot/img/bg-img/6.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h5>Các nhà thiết kế sân vườn trên toàn quốc dự báo những ý tưởng định hình thế giới làm vườn vào năm 2018</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Jun 2018</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Alan Jackson</a>
                        </div>
                        <p class="post-excerpt">Toàn bộ đường kính của tang và quyền trượng được nâng cao. Chúng tôi đã nghe nói rất nhiều về Ottawas, không phải hồ. Aenean interdum giữa cuộc đời.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="single-post.html"><img src="~/wwwroot/img/bg-img/7.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h5>Hội nghị Cây bụi và Cây ở Trung Tây năm 2018: Các loại cây có khả năng phục hồi cho cảnh quan lâu dài</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Jun 2018</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Christina Aguilera</a>
                        </div>
                        <p class="post-excerpt">Toàn bộ đường kính của tang và quyền trượng được nâng cao. Chúng tôi đã nghe nói rất nhiều về Ottawas, không phải hồ. Aenean interdum giữa cuộc đời.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="single-post.html"><img src="~/wwwroot/img/bg-img/8.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h5>Mùa hè sắp đến là lúc cả ta và hoa cùng đắm mình trong nắng.</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2018</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Mason Jenkins</a>
                        </div>
                        <p class="post-excerpt">Toàn bộ đường kính của tang và quyền trượng được nâng cao. Chúng tôi đã nghe nói rất nhiều về Ottawas, không phải hồ. Aenean interdum giữa cuộc đời.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->
<!-- ##### Subscribe Area Start ##### -->
<section class="subscribe-newsletter-area" style="background-image: url(/wwwroot/img/bg-img/subscribe.png); ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading mb-0">
                    <h2>THAM GIA BẢN TIN</h2>
                    <p>Đăng ký nhận bản tin của chúng tôi và được giảm giá 10% khi mua hàng đầu tiên của bạn</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="subscribe-form">
                    <form action="#" method="get">
                        <input type="email" name="subscribe-email" id="subscribeEmail" placeholder="Nhập email của bạn ">
                        <button type="submit" class="btn alazea-btn">ĐĂNG KÝ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Subscribe Side Thumbnail -->
    <div class="subscribe-side-thumb wow fadeInUp" data-wow-delay="500ms">
        <img class="first-img" src="~/wwwroot/img/core-img/leaf.png" alt="">
    </div>
</section>
<!-- ##### Subscribe Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>LIÊN LẠC</h2>
                    <p>Gửi tin nhắn cho chúng tôi, chúng tôi sẽ gọi lại sau</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Tên của bạn">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="contact-email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-subject" placeholder="Chủ đề">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Nội dung"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alazea-btn mt-15">Gửi tin nhắn</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <!-- Google Maps -->
                <div class="map-area mb-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22236.40558254599!2d-118.25292394686001!3d34.057682914027104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z4Kay4Ka4IOCmj-CmnuCnjeCmnOCnh-CmsuCnh-CmuCwg4KaV4KeN4Kav4Ka-4Kay4Ka_4Kar4KeL4Kaw4KeN4Kao4Ka_4Kav4Ka84Ka-LCDgpq7gpr7gprDgp43gppXgpr_gpqgg4Kav4KeB4KaV4KeN4Kak4Kaw4Ka-4Ka34KeN4Kaf4KeN4Kaw!5e0!3m2!1sbn!2sbd!4v1532328708137" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->