@model BTL_Nhom8.Dto.Cart
@{
    ViewBag.Title = "Final_Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1 style="color:red; font:bolder">Thanh toán thành công</h1>
<br />
<br />



